openapi: 3.1.0
info:
  title: Freebusy API
  version: "2.0.0"
  description: |
    Freebusy is a Cloudflare Worker that proxies a private iCalendar (iCal) free/busy feed,
    strips sensitive data, and returns a minimal JSON payload suitable for a public availability UI.

    Time semantics are intentionally strict:

    - **Owner timezone**: The calendar owner's IANA timezone is configured via `CALENDAR_TIMEZONE`.
      The UI grid is intended to render *owner-days* (date columns) using this timezone.
    - **Canonical timestamps**: All busy intervals and window instants are returned as UTC instants
      (RFC 3339 / ISO 8601 with trailing `Z`). This guarantees correct rendering across timezones
      and Daylight Saving Time (DST) transitions.
    - **All-day events**: All-day events are treated as busy for the entire *owner-day* (00:00 to 24:00
      in `CALENDAR_TIMEZONE`). They are returned as UTC instants for that owner-day interval.
    - **UI timezone switching**: Clients may display time labels in any viewer timezone by converting
      UTC instants using IANA timezone rules. The owner-day grid should remain anchored to
      `CALENDAR_TIMEZONE` to avoid confusing "date leakage" for all-day events.

servers:
  - url: https://api.freebusy.robertsinfosec.com
    description: Production deployment
  - url: http://localhost:8787
    description: Local development via `wrangler dev`

tags:
  - name: health
    description: Lightweight liveness probes
  - name: freebusy
    description: Free/busy normalization and delivery
  - name: misc
    description: Fallback routes

paths:
  /health:
    get:
      tags: [health]
      summary: Health check
      description: |
        Returns a simple JSON payload indicating the Worker is running.
        CORS is enforced; disallowed origins receive `403 forbidden_origin`.
        This endpoint does not fetch upstream calendar data.
      operationId: getHealth
      responses:
        "200":
          description: Worker is up and able to serve traffic
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              examples:
                ok:
                  value: { ok: true }
        "403":
          description: Origin not allowed by CORS policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                forbidden_origin:
                  value: { error: "forbidden_origin" }

  /freebusy:
    options:
      tags: [freebusy]
      summary: CORS preflight for /freebusy
      description: Responds to preflight requests. Allowed origins receive 204 with CORS headers; all others receive 403.
      operationId: optionsFreebusy
      responses:
        "204":
          description: Origin allowed; no body is returned
        "403":
          description: Origin not allowed by CORS policy

    get:
      tags: [freebusy]
      summary: Retrieve merged free/busy intervals for the configured window
      description: |
        Fetches a private iCal free/busy feed (VFREEBUSY and VEVENT), parses and normalizes busy intervals,
        merges overlapping or adjacent intervals, and clips results to the configured window.

        The window is defined in **owner local time** (`CALENDAR_TIMEZONE`) but returned as both:
        - `startDate` / `endDateInclusive` (owner dates), and
        - `startUtc` / `endUtcExclusive` (UTC instants)

        Busy intervals are returned as UTC instants. Clients render in any viewer timezone by converting
        from UTC using IANA timezone rules (DST-safe).

        Requests are rate limited per hashed IP via a Durable Object. CORS is restricted to an allowlist.
        A feature flag (`FREEBUSY_ENABLED`) can disable the endpoint.

      operationId: getFreebusy
      responses:
        "200":
          description: Successfully returned normalized free/busy data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FreeBusyResponse"
              examples:
                sample:
                  value:
                    version: "25.1228.1440"
                    generatedAtUtc: "2025-12-28T14:45:10.562Z"
                    calendar:
                      timeZone: "America/New_York"
                      weekStartDay: 1
                    window:
                      startDate: "2025-12-28"
                      endDateInclusive: "2026-02-07"
                      startUtc: "2025-12-28T05:00:00.000Z"
                      endUtcExclusive: "2026-02-08T05:00:00.000Z"
                    workingHours:
                      weekly:
                        - dayOfWeek: 1
                          start: "09:00"
                          end: "17:00"
                        - dayOfWeek: 2
                          start: "09:00"
                          end: "17:00"
                        - dayOfWeek: 3
                          start: "08:00"
                          end: "18:00"
                        - dayOfWeek: 4
                          start: "08:00"
                          end: "18:00"
                        - dayOfWeek: 5
                          start: "08:00"
                          end: "18:00"
                    busy:
                      - startUtc: "2026-01-01T05:00:00.000Z"
                        endUtc: "2026-01-02T05:00:00.000Z"
                        kind: "allDay"
                      - startUtc: "2026-01-05T15:00:00.000Z"
                        endUtc: "2026-01-05T17:00:00.000Z"
                        kind: "time"
                    rateLimit:
                      nextAllowedAtUtc: "2025-12-28T14:45:10.565Z"
                      scopes:
                        perIp:
                          remaining: 58
                          resetUtc: "2025-12-28T14:45:22.536Z"
                          limit: 60
                          windowMs: 300000
                        global:
                          remaining: 498
                          resetUtc: "2025-12-28T14:45:22.536Z"
                          limit: 500
                          windowMs: 300000

        "403":
          description: Origin not allowed by CORS policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                forbidden_origin:
                  value: { error: "forbidden_origin" }

        "429":
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitedErrorResponse"
              examples:
                rate_limited:
                  value:
                    error: "rate_limited"
                    rateLimit:
                      nextAllowedAtUtc: "2025-12-28T14:45:22.536Z"
                      scopes:
                        perIp:
                          remaining: 0
                          resetUtc: "2025-12-28T14:50:22.536Z"
                          limit: 60
                          windowMs: 300000

        "502":
          description: Upstream iCal fetch failed or parse error occurred
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                upstream_error:
                  value: { error: "upstream_error" }

        "503":
          description: Endpoint disabled via feature flag
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                disabled:
                  value: { error: "disabled" }

  /{any}:
    get:
      tags: [misc]
      summary: Fallback for unknown routes
      description: Returns a JSON 404 error for any unmatched path.
      operationId: fallback
      parameters:
        - name: any
          in: path
          required: true
          schema: { type: string }
      responses:
        "404":
          description: Route not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                not_found:
                  value: { error: "not_found" }

components:
  schemas:
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
      required: [ok]

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code.
      required: [error]

    CalendarContext:
      type: object
      description: Calendar-owner context used to render the availability grid.
      properties:
        timeZone:
          type: string
          description: IANA timezone identifier for the calendar owner (from `CALENDAR_TIMEZONE`).
          examples: ["America/New_York", "America/Denver"]
        weekStartDay:
          type: integer
          minimum: 1
          maximum: 7
          description: ISO day-of-week used as the start of the week for grid alignment (1=Mon ... 7=Sun).
      required: [timeZone, weekStartDay]

    Window:
      type: object
      description: |
        The forward-looking window for which free/busy is computed.

        - Date fields are in the **owner timezone**.
        - Instant fields are UTC and are intended for deterministic computations.
      properties:
        startDate:
          type: string
          format: date
          description: Owner-local date for the first day in the grid.
        endDateInclusive:
          type: string
          format: date
          description: Owner-local date for the last day in the grid (inclusive).
        startUtc:
          type: string
          format: date-time
          description: UTC instant representing owner-local 00:00 at `startDate`.
        endUtcExclusive:
          type: string
          format: date-time
          description: UTC instant representing owner-local 00:00 on the day after `endDateInclusive` (exclusive).
      required: [startDate, endDateInclusive, startUtc, endUtcExclusive]

    WorkingHoursWeeklyEntry:
      type: object
      description: Weekly working-hours entry in owner-local time.
      properties:
        dayOfWeek:
          type: integer
          minimum: 1
          maximum: 7
          description: ISO day-of-week where 1=Monday and 7=Sunday.
        start:
          type: string
          pattern: '^\d{2}:\d{2}$'
          description: Local start time in HH:MM (24-hour clock).
        end:
          type: string
          pattern: '^\d{2}:\d{2}$'
          description: Local end time in HH:MM (24-hour clock).
      required: [dayOfWeek, start, end]

    WorkingHours:
      type: object
      description: Weekly working-hours schedule in owner-local time.
      properties:
        weekly:
          type: array
          items:
            $ref: "#/components/schemas/WorkingHoursWeeklyEntry"
      required: [weekly]

    BusyIntervalKind:
      type: string
      description: |
        Indicates how the busy interval was derived.

        - `time`: A normal timed event/freebusy block.
        - `allDay`: An all-day event interpreted as busy for the entire owner-day.
      enum: [time, allDay]

    BusyInterval:
      type: object
      description: A busy interval expressed as UTC instants.
      properties:
        startUtc:
          type: string
          format: date-time
          description: Inclusive start instant (UTC).
        endUtc:
          type: string
          format: date-time
          description: Exclusive end instant (UTC).
        kind:
          $ref: "#/components/schemas/BusyIntervalKind"
      required: [startUtc, endUtc, kind]

    RateLimitScopeState:
      type: object
      description: State for a single rate-limit scope.
      properties:
        remaining:
          type: integer
          minimum: 0
        resetUtc:
          type: string
          format: date-time
          description: UTC instant when the scope's window resets.
        limit:
          type: integer
          minimum: 1
        windowMs:
          type: integer
          minimum: 1
      required: [remaining, resetUtc, limit, windowMs]

    RateLimitScopes:
      type: object
      description: Rate-limit scopes. `global` may be omitted if not enabled.
      properties:
        perIp:
          $ref: "#/components/schemas/RateLimitScopeState"
        global:
          $ref: "#/components/schemas/RateLimitScopeState"
      required: [perIp]

    RateLimitState:
      type: object
      description: Rate-limit state returned to help clients implement backoff.
      properties:
        nextAllowedAtUtc:
          type: string
          format: date-time
          description: UTC instant when the next request will be accepted.
        scopes:
          $ref: "#/components/schemas/RateLimitScopes"
      required: [nextAllowedAtUtc, scopes]

    FreeBusyResponse:
      type: object
      description: Response payload containing window metadata, working hours, and busy intervals.
      properties:
        version:
          type: string
          description: Build version identifier (e.g., `YY.MMDD.HHmm`).
        generatedAtUtc:
          type: string
          format: date-time
          description: UTC instant when the response was generated.
        calendar:
          $ref: "#/components/schemas/CalendarContext"
        window:
          $ref: "#/components/schemas/Window"
        workingHours:
          $ref: "#/components/schemas/WorkingHours"
        busy:
          type: array
          items:
            $ref: "#/components/schemas/BusyInterval"
        rateLimit:
          $ref: "#/components/schemas/RateLimitState"
      required: [version, generatedAtUtc, calendar, window, workingHours, busy]

    RateLimitedErrorResponse:
      type: object
      properties:
        error:
          type: string
          const: rate_limited
        rateLimit:
          $ref: "#/components/schemas/RateLimitState"
      required: [error, rateLimit]
